[Unit]
Description=Paperless Gotenberg Service
Wants=network.target
After=network-online.target
BindsTo=pngx-pod.service
After=pngx-pod.service
Before=pngx-webserver.service

[Service]
LimitNOFILE=1048576
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/etc/pngx/env
Restart=on-failure
ExecStartPre=/bin/bash -c "/usr/bin/podman load < /usr/src/containers/gotenberg-*.tar"
ExecStart=/usr/bin/podman run \
  --name %N \
  --pod pngx-pod \
  --log-driver journald \
  --replace --rm -d \
  --sdnotify conmon \
  -e CHROMIUM_DISABLE_ROUTES=1 \
  --env-file=/etc/pngx/env \
  $GOTENBERG_CONTAINER_IMAGE
ExecStop=/usr/bin/podman stop -t 10 %N
ExecStopPost=/usr/bin/podman stop -i -t 10 %N
ExecStopPost=/usr/bin/podman rm -i -v %N
Type=notify
NotifyAccess=all
Delegate=true
SyslogIdentifier=%N
Slice=machine-pngx-pod.slice

[Install]
WantedBy=multi-user.target
