[Unit]
Description=Paperless-ngx Webserver Service
Wants=network.target
After=network-online.target
BindsTo=pngx-pod.service
After=pngx-pod.service
Before=pngx-sftp.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/etc/pngx/env
Restart=on-failure
ExecStartPre=/bin/bash -c "/usr/bin/podman load < /usr/src/containers/paperless-ngx-*.tar"
ExecStart=/usr/bin/podman run \
  --name %N \
  --pod pngx-pod \
  --log-driver journald \
  --replace --rm -d \
  --sdnotify conmon \
  --stop-timeout=90 \
  --health-cmd='["curl", "-f", "http://localhost:8000"]' \
  --health-retries=5 \
  --health-start-period=60s \
  --health-timeout=10s \
  -v pngx-data:/usr/src/paperless/data:Z \
  -v pngx-media:/usr/src/paperless/media:Z \
  -v pngx-consume:/usr/src/paperless/consume:U,z \
  -v /opt/pngx/export:/usr/src/paperless/export:U,Z \
  --env-file=/etc/pngx/env \
  $PAPERLESS_CONTAINER_IMAGE
ExecStop=/usr/bin/podman stop -t 90 %N
ExecStopPost=/usr/bin/podman stop -i -t 90 %N
ExecStopPost=/usr/bin/podman rm -i -v %N
Type=notify
NotifyAccess=all
Delegate=true
SyslogIdentifier=%N
Slice=machine-pngx-pod.slice

[Install]
WantedBy=multi-user.target
